
.Frame {

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f0;

  .tabs {

		background: linear-gradient(to left, rgba(235,235,235,1) 0%, rgba(242,242,242,1) 53%, rgba(252,252,252,1) 100%);
    padding-left: 90px;
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: flex-end;
    height: 36px;
    position: relative;
    background: none;

    .ion-plus {
      background-color: #FFF;
      margin-bottom: 5px;
      margin-left: 5px;
      color: silver;
      cursor: pointer;
    }

    .tab {

      cursor: default;
      height: 30px;
      bottom: 0;
      position: relative;
      font-family: Helvetica;
      color: grey;
      font-weight: lighter;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-left: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #fcfcfc;
      padding: 0 10px;

      .ion-close-round {
        position: absolute;
        font-size: 12px;
        top: 9px;
        right: 10px;;
      }

      .title {
        color: #424242;
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100px;
      }

      img {
        margin-top: 3px;
        margin-right: 5px;
      }

      &.active {
        background-color: #fff;
      }
    }
  }

}
