
.Frame {

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f0;

  .tabs {

		background: linear-gradient(to left, rgba(235,235,235,1) 0%, rgba(242,242,242,1) 53%, rgba(252,252,252,1) 100%);
    padding-left: 90px;
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;

    .ion-plus {
      height: 100%;
      margin-left: 10px;
      color: silver;
      cursor: pointer;
    }

    .tab {

      height: 35px;
      font-family: Helvetica;
      color: grey;
      font-weight: lighter;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-left: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #fcfcfc;
      padding: 0 10px;

      .ion-close-round {
        margin-right: 11px;
        margin-left: 2px;
      }

      .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100px;
      }

      img {
        margin-right: 5px;
      }

      &.active {
        background-color: #fff;
      }
    }
  }

}
