
.Suggestions {

  background-color: white;
  border: 1px solid #f0f0f0;
  font-size: 13px;
  font-family: Helvetica;
  margin-top: -1px;

  .item {
  
    padding: 5px 10px;

    &.active {
      background-color: #3498db;
      color: white;
    }
  }
}
